* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1E9;
}

.container {
  margin-left: 20px;
  margin-top: 10px;
}

.list {
  margin-left: 21px;
}